{% load static %}
<!DOCTYPE html>
<!--[if IE 8]><html class="no-js oldie ie8" lang="en"> <![endif]-->
<!--[if IE 9]><html class="no-js oldie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="no-js" lang="en">
  <!--<![endif]-->
  <head>
    <!--- basic page needs
   ================================================== -->
    <meta charset="utf-8" />
    <title>Abstract</title>
    <meta name="description" content="" />
    <meta name="author" content="" />

    <!-- mobile specific metas
   ================================================== -->
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1"
    />

    <!-- CSS
   ================================================== -->
    <link rel="stylesheet" href="{% static 'blog/css/base.css' %}" />
    <link rel="stylesheet" href="{% static 'blog/css/vendor.css' %}" />
    <link rel="stylesheet" href="{% static 'blog/css/main.css' %}" />

    <!-- script
   ================================================== -->
    <script src="{% static 'blog/js/modernizr.js' %}"></script>
    <script src="{% static 'blog/js/pace.min.js' %}"></script>

    <!-- favicons
	================================================== -->
    <link
      rel="shortcut icon"
      href="{% static 'blog/favicon.ico' %}"
      type="image/x-icon"
    />
    <link
      rel="icon"
      href="{% static 'blog/favicon.ico' %}"
      type="image/x-icon"
    />
  </head>

  <body id="top" style="background-color: #393053">
    <!-- header 
   ================================================== -->
    <header class="short-header">
      <div class="gradient-block"></div>

      <div class="row header-content">
        <div class="logo">
          <a href="index.html">Author</a>
        </div>

        <nav id="main-nav-wrap">
          <ul class="main-navigation sf-menu">
            <li class="current"><a href="index.html" title="">Home</a></li>
            <li class="has-children">
              <a href="category.html" title="">Categories</a>
              <ul class="sub-menu">
                <li><a href="category.html">Wordpress</a></li>
                <li><a href="category.html">HTML</a></li>
                <li><a href="category.html">Photography</a></li>
                <li><a href="category.html">UI</a></li>
                <li><a href="category.html">Mockups</a></li>
                <li><a href="category.html">Branding</a></li>
              </ul>
            </li>
            <li class="has-children">
              <a href="single-standard.html" title="">Blog</a>
              <ul class="sub-menu">
                <li><a href="single-video.html">Video Post</a></li>
                <li><a href="single-audio.html">Audio Post</a></li>
                <li><a href="single-gallery.html">Gallery Post</a></li>
                <li><a href="single-standard.html">Standard Post</a></li>
              </ul>
            </li>
            <li><a href="style-guide.html" title="">Styles</a></li>
            <li><a href="about.html" title="">About</a></li>
            <li><a href="contact.html" title="">Contact</a></li>
          </ul>
        </nav>
        <!-- end main-nav-wrap -->

        <div class="search-wrap">
          <form role="search" method="get" class="search-form" action="#">
            <label>
              <span class="hide-content">Search for:</span>
              <input
                type="search"
                class="search-field"
                placeholder="Type Your Keywords"
                value=""
                name="s"
                title="Search for:"
                autocomplete="off"
              />
            </label>
            <input type="submit" class="search-submit" value="Search" />
          </form>

          <a href="#" id="close-search" class="close-btn">Close</a>
        </div>
        <!-- end search wrap -->

        <div class="triggers">
          <a class="search-trigger" href="#"><i class="fa fa-search"></i></a>
          <a class="menu-toggle" href="#"><span>Menu</span></a>
        </div>
        <!-- end triggers -->
      </div>
    </header>
    <!-- end header -->

    <!-- masonry
   ================================================== -->
    <section id="bricks">
      <div class="row masonry">
        <!-- brick-wrapper -->
        <div class="bricks-wrapper">
          <div class="grid-sizer"></div>

          <div class="brick entry featured-grid animate-this">
            <div class="entry-content">
              <div id="featured-post-slider" class="flexslider">
                <ul class="slides">
                  {%for ad in ads%}

                  <li>
                    <div class="featured-post-slide">
                      <div
                        class="post-background"
                        style="
                          
                          background-image:{{ad.thumbnail.url}});
                        "
                      >
                        salam
                      </div>

                      <div class="overlay"></div>

                      <div class="post-content">
                        <ul class="entry-meta">
                          <li>{{ad.endTime}}</li>
                          <li><a href="#">{{ad.title}}</a></li>
                        </ul>

                        <h1 class="slide-title">
                          <a href="single-standard.html" title=""
                            >{{ad.subtitle}}</a
                          >
                        </h1>
                      </div>
                    </div>
                  </li>
                  {%endfor%}

                  <!-- end slide -->
                </ul>
                <!-- end slides -->
              </div>
              <!-- end featured-post-slider -->
            </div>
            <!-- end entry content -->
          </div>

          <article class="brick entry format-standard animate-this" dir="rtl">
            <div
              style="
                background-color: #443c68;
                border-radius: 10px;
                border: 1px solid #635985;
                {% comment %} padding: 5px; {% endcomment %}
              "
            >
              {%for currency in currences%}

              <div
                style="
                  background-color: #443c68;
                  border-radius: 10px;
                  border: 1px solid #635985;
                  width: 80px;
                  height: 80px;
                  margin: 5px 3px 5px 2px;
                  {% comment %} padding: 5px; {% endcomment %}
                  color: #6096b4;
                  display: inline-block;
                  vertical-align: middle;
                "
              >
                <p style="font-size: 14px; margin: 5px">
                  {{ currency.currency }}
                </p>
                <p
                  style="font-size: 18px; margin: 5px; font-weight: bold"
                  dir="ltr"
                >
                  {{currency.price}}
                </p>
              </div>
              {%endfor%}
            </div>
          </article>

          {%for article in articles%}

          <article class="brick entry format-standard animate-this" dir="rtl">
            <div
              class="entry-text"
              style="
                background-color: #443c68;
                border-radius: 10px;
                border: 1px solid #635985;
              "
            >
              <div class="entry-header">
                <div class="entry-meta">
                  {% comment %}
                  <a href="single-standard.html" class="thumb-link">
                    {% endcomment %}

                    <img
                      class="entry-text"
                      style="width: 300px; height: 200px; border-radius: 10px"
                      src="{{article.thumbnail.url}}"
                      alt="{{article.title}}"
                    />

                    {% comment %}
                  </a>
                  {% endcomment %}

                  <span class="cat-links">
                    <a href="#">Design</a>
                    <a href="#">UI</a>
                  </span>
                </div>

                <h1 style="color: #6096b4">{{article.title}}</h1>
              </div>
              <div class="entry-excerpt" style="text-align: justify">
                {{article.description|truncatewords:50}}
              </div>
              <div>
                <button
                  style="
                    background-color: #443c68;
                    border-radius: 10px;
                    border: 1px solid #635985;
                    width: 100%;
                    margin-top: 30px;
                    margin-bottom: 1px;
                  "
                >
                  <a href="article/{{article.slug}}" style="color: #635985">
                    ادامه مطلب</a
                  >
                </button>
              </div>
            </div>
          </article>
          {%endfor%}
        </div>
        <!-- end brick-wrapper -->
      </div>
      <!-- end row -->

      <div class="row">
        <nav class="pagination">
          <span class="page-numbers prev inactive">Prev</span>
          <span class="page-numbers current">1</span>
          <a href="#" class="page-numbers">2</a>
          <a href="#" class="page-numbers">3</a>
          <a href="#" class="page-numbers">4</a>
          <a href="#" class="page-numbers">5</a>
          <a href="#" class="page-numbers">6</a>
          <a href="#" class="page-numbers">7</a>
          <a href="#" class="page-numbers">8</a>
          <a href="#" class="page-numbers">9</a>
          <a href="#" class="page-numbers next">Next</a>
        </nav>
      </div>
    </section>
    <!-- end bricks -->

    <!-- footer
   ================================================== -->
    <footer>
      <div class="footer-main">
        <div class="row">
          <div class="col-four tab-full mob-full footer-info">
            <h4>About Our Site</h4>

            <p>
              Lorem ipsum Ut velit dolor Ut labore id fugiat in ut fugiat
              nostrud qui in dolore commodo eu magna Duis cillum dolor officia
              esse mollit proident Excepteur exercitation nulla. Lorem ipsum In
              reprehenderit commodo aliqua irure labore.
            </p>
          </div>
          <!-- end footer-info -->

          <div class="col-two tab-1-3 mob-1-2 site-links">
            <h4>Site Links</h4>

            <ul>
              <li><a href="#">About Us</a></li>
              <li><a href="#">Blog</a></li>
              <li><a href="#">FAQ</a></li>
              <li><a href="#">Terms</a></li>
              <li><a href="#">Privacy Policy</a></li>
            </ul>
          </div>
          <!-- end site-links -->

          <div class="col-two tab-1-3 mob-1-2 social-links">
            <h4>Social</h4>

            <ul>
              <li><a href="#">Twitter</a></li>
              <li><a href="#">Facebook</a></li>
              <li><a href="#">Dribbble</a></li>
              <li><a href="#">Google+</a></li>
              <li><a href="#">Instagram</a></li>
            </ul>
          </div>
          <!-- end social links -->

          <div class="col-four tab-1-3 mob-full footer-subscribe">
            <h4>Subscribe</h4>

            <p>Keep yourself updated. Subscribe to our newsletter.</p>

            <div class="subscribe-form">
              <form id="mc-form" class="group" novalidate="true">
                <input
                  type="email"
                  value=""
                  name="dEmail"
                  class="email"
                  id="mc-email"
                  placeholder="Type &amp; press enter"
                  required=""
                />

                <input type="submit" name="subscribe" />

                <label for="mc-email" class="subscribe-message"></label>
              </form>
            </div>
          </div>
          <!-- end subscribe -->
        </div>
        <!-- end row -->
      </div>
      <!-- end footer-main -->

      <div class="footer-bottom">
        <div class="row">
          <div class="col-twelve">
            <div class="copyright">
              <span>© Copyright Abstract 2016</span>
              <span
                >Design by
                <a href="http://www.styleshout.com/">styleshout</a></span
              >
            </div>

            <div id="go-top">
              <a class="smoothscroll" title="Back to Top" href="#top"
                ><i class="icon icon-arrow-up"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
      <!-- end footer-bottom -->
    </footer>

    <div id="preloader">
      <div id="loader"></div>
    </div>

    <!-- Java Script
   ================================================== -->
    <script src="{% static 'blog/js/jquery-2.1.3.min.js' %}"></script>
    <script src="{% static 'blog/js/plugins.js' %}"></script>
    <script src="{% static 'blog/js/jquery.appear.js' %}"></script>
    <script src="{% static 'blog/js/main.js' %}"></script>
  </body>
</html>
